* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f9f9f9;
  font-family: Montserrat, sans-serif;
}
ul > li {
  list-style: none;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-column-gap: 28px;
  -moz-column-gap: 28px;
  column-gap: 28px;
  padding: 0px 20px;
}
.subtitle-with-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.subtitle-with-button > h3 {
  font-size: 18px;
  font-weight: 400;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.subtitle-with-button > button {
  padding: 8px 14px;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.subtitle-with-button > button > img {
  margin-top: 4px;
}
.inner-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.custom-checkbox,
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label,
.custom-radio + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
}
.custom-checkbox + label::before,
.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border: 1px solid #999;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox + label::before {
  border-radius: 0.25em;
}
.custom-radio + label::before {
  border-radius: 50%;
}
.custom-checkbox:checked + label::before,
.custom-radio:checked + label::before {
  background-color: #6f64f8;
}
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before,
.custom-radio:not(:disabled):not(:checked) + label:hover::before,
.custom-checkbox:not(:disabled):active + label::before,
.custom-radio:not(:disabled):active + label::before {
  border-color: #958ef7;
}
.custom-checkbox:focus + label::before,
.custom-radio:focus + label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.custom-checkbox:focus:not(:checked) + label::before,
.custom-radio:focus:not(:checked) + label::before {
  border-color: #9380ff;
}
.custom-checkbox:disabled + label::before,
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}
.header {
  width: 100%;
  padding: 28px 20px 0px;
  background-color: #f9f9f9;
}
.header__inner {
  max-width: 1844px;
  margin: 0 auto;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__content > h1 {
  font-size: 48px;
  font-weight: 600;
  color: #7e72f2;
  margin-left: 22px;
}
.bread-crumbs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 290px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 44px;
}
.bread-crumbs a {
  font-size: 14px;
  text-decoration: none;
  color: #7e72f2;
}
.bread-crumbs a.active {
  pointer-events: none;
  color: #000;
}
.filters {
  width: 30vw;
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.filters__card {
  padding: 20px 42px 20px 42px;
  margin: 28px 0;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.filters__divider {
  margin: 28px 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}
.filters__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 22px;
}
.filters__card > section,
.filters__divider {
  width: 375px;
  max-width: 100%;
}
.filters__list li:not(li:first-child):not(li:last-child) {
  padding: 10px 0;
}
.filters__list li:first-child {
  padding-bottom: 10px;
}
.filters__list li:last-child {
  padding-top: 10px;
}
.filters__clear-all {
  width: 100%;
  font-size: 18px;
  padding: 17px;
  text-transform: uppercase;
  background-color: #6f64f8;
  color: #fff;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.main {
  max-width: 1256px;
  width: 70 vw;
}
button.wishlist-btn {
  background: #6f64f8;
}
.search-bar {
  width: 100%;
  margin: 28px 0;
  position: relative;
}
.search-bar input[type="text"] {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: none;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 300;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.search-bar__btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 17px;
  background-color: transparent;
  border: none;
}
.card {
  width: 100%;
  height: 486px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}
.card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px;
  height: 438px;
}
.card__img > img {
  max-width: 100%;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 0 auto;
  display: block;
}
.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6;
}
.card__info {
  font-size: 12px;
  font-weight: 300;
  word-break: break-word;
}
.card__rate-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}
.card__price {
  font-size: 18px;
  font-weight: normal;
  -ms-flex-item-align: center;
  align-self: center;
}
.card__product--rate {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #6f64f8;
  color: #fff;
  border-radius: 3px;
  width: 65px;
  padding: 7px;
  border: none;
  line-height: 1.2;
}
.card__rate {
  margin-top: -2px;
}
.card__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px 0;
  width: 50%;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  background: #ededed;
}
.card__btn--primary {
  background-color: #6f64f8;
  color: #fff;
}
.card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__icon {
  display: inline-block;
}
.footer {
  padding: 28px 0;
}
.pagination {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.pagination a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  background-color: #ededed;
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.pagination a > img {
  margin-top: 2px;
}
.pagination a:hover {
  background-color: #6f64f8;
  color: #fff;
  opacity: 0.7;
}
.pagination a.active {
  color: #fff;
  background-color: #6f64f8;
}
.pagination__options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 10px;
  border-radius: 25px;
  background-color: #ededed;
}
@media (max-width: 1200px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .filters {
    width: 100%;
    max-width: unset;
  }
  .filters__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: unset;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }
  .filters__divider {
    display: none;
  }
  .filters__card > section {
    width: calc(33.3333333333% - 20px);
  }
  .filters__card > section:not(section:last-child) {
    padding-right: 20px;
    border-right: 1px solid #ededed;
  }
  .main {
    width: 100%;
    max-width: initial;
    margin-top: 28px;
  }
  .card__btn {
    font-size: 12px;
  }
}
@media (max-width: 720px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .filters__card {
    display: none;
  }
  .filters__clear-all {
    margin-top: 28px;
  }
}
@media (max-width: 576px) {
  .pagination a {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
  .pagination__options a:nth-child(n + 7) {
    display: none;
  }
  .card__inner {
    padding: 10px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .header__content > h1 {
    font-size: 36px;
  }
}
@media (max-width: 320px) {
  .header__content > h1 {
    font-size: 28px;
  }
}
/*# sourceMappingURL=style.css.map */
