@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .filters {
    width: 100%;
    max-width: unset;
  }

  .filters__card {
    display: flex;
    min-height: unset;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
  }

  .filters__divider {
    display: none;
  }

  .filters__card > section {
    width: calc((100% / 3) - 20px);
  }

  .filters__card > section:not(section:last-child) {
    padding-right: 20px;
    border-right: 1px solid #ededed;
  }

  .main {
    width: 100%;
    max-width: initial;
    margin-top: 28px;
  }

  .card__btn {
    font-size: 12px;
  }
}

@media (max-width: 720px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .filters__card {
    display: none;
  }

  .filters__clear-all {
    margin-top: 28px;
  }
}

@media (max-width: 576px) {
  .pagination a {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  .pagination__options a:nth-child(n + 7) {
    display: none;
  }

  .card__inner {
    padding: 10px;
  }

  .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .header__content > h1 {
    font-size: 36px;
  }
}

@media (max-width: 320px) {
  .header__content > h1 {
    font-size: 28px;
  }
}
