$font-style: Montserrat, sans-serif;
$body-color: #f9f9f9;
$primary-color: #6f64f8;
$secondary-color: #ededed;
$background-color: #fff;
$border-radius: 8px;
$shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-color;
  font-family: $font-style;
}

ul {
  & > li {
    list-style: none;
  }
}

@import "utilities";
@import "custom-checkboxes-radio";
@import "header";
@import "aside";
@import "main";
@import "card";
@import "footer";
@import "media";
